<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>マイページ - Mallow</title>
  <link rel="stylesheet" href="<%= asset_path('application.css') %>">
</head>

<body>
  <header>
    <h1>マイページ</h1>
  </header>

  <main>
    <p>名前: <%= @user.name %></p>
    <p>メール: <%= @user.email %></p>
    <p>電話番号: <%= @user.phone_number %></p>
    <%= link_to '注文履歴', order_history_profile_path %>
  </main>

  <footer>
    <p>©2024 Bagel Mallow. All Rights Reserved.</p>
  </footer>
</body>
</html>