<h1><%= @item.new_record? ? '新規商品作成' : '商品編集' %></h1>

<%= form_with model: @item, url: @item.new_record? ? admin_items_path : admin_item_path(@item), method: @item.new_record? ? :post : :patch do |form| %>
  <div>
    <%= form.label :name, '名前' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, '説明' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, '価格' %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit '保存' %>
  </div>
<% end %>

<%= link_to '戻る', admin_items_path %>