<h1>商品詳細</h1>

<p>
  <strong>名前:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>説明:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>価格:</strong>
  <%= @item.price %>
</p>

<%= link_to '編集', edit_admin_item_path(@item) %>
<%= link_to '戻る', admin_items_path %>