<h1>管理者ダッシュボード</h1>

<p>管理者ダッシュボードへようこそ！</p>

<ul>
  <li><%= link_to '商品管理', admin_items_path %></li>
  <li><%= link_to '注文管理', admin_orders_path %></li>
  <li><%= link_to 'お問い合わせ管理', admin_contacts_path %></li>
  <li><%= link_to 'ユーザー管理', admin_users_path %></li>
  <li><%= link_to 'サイト設定', edit_admin_settings_path %></li>
</ul>