<%= f.fields_for :address do |address_form| %>
  <%= address_form.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= address_form.label :postal_code, '郵便番号:' %>
    <%= address_form.text_field :postal_code, required: true %>
    </div>
    <div class="form-group">
      <%= address_form.label :prefecture_id, '都道府県:' %>
      <%= address_form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: '都道府県を選択してください', required: true %>
    </div>
    <div class="form-group">
      <%= address_form.label :city, '市区町村:' %>
      <%= address_form.text_field :city, required: true %>
    </div>
    <div class="form-group">
      <%= address_form.label :street, '番地:' %>
      <%= address_form.text_field :street, required: true %>
    </div>
    <div class="form-group">
      <%= address_form.label :building_name, '建物名（任意）:' %>
      <%= address_form.text_field :building_name %>
    </div>
    <div class="form-group">
      <%= address_form.label :phone_number, '電話番号:' %>
      <%= address_form.text_field :phone_number, required: true %>
    </div>
<% end %>