<%= f.fields_for :address do |address_form| %>
  <div class="form-group">
    <%= address_form.label :postal_code, '郵便番号:' %>
    <%= address_form.text_field :postal_code, required: true %>
    <% if address_form.object.errors[:postal_code].any? %>
      <div class="error-message">
        <%= address_form.object.errors[:postal_code].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= address_form.label :prefecture_id, '都道府県:' %>
    <%= address_form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: '都道府県を選択してください', required: true %>
    <% if address_form.object.errors[:prefecture_id].any? %>
      <div class="error-message">
        <%= address_form.object.errors[:prefecture_id].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= address_form.label :city, '市区町村:' %>
    <%= address_form.text_field :city, required: true %>
    <% if address_form.object.errors[:city].any? %>
      <div class="error-message">
        <%= address_form.object.errors[:city].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= address_form.label :street, '番地:' %>
    <%= address_form.text_field :street, required: true %>
    <% if address_form.object.errors[:street].any? %>
      <div class="error-message">
        <%= address_form.object.errors[:street].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= address_form.label :building_name, '建物名（任意）:' %>
    <%= address_form.text_field :building_name %>
    <% if address_form.object.errors[:building_name].any? %>
      <div class="error-message">
        <%= address_form.object.errors[:building_name].join(", ") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= address_form.label :phone_number, '電話番号:' %>
    <%= address_form.text_field :phone_number, required: true %>
    <% if address_form.object.errors[:phone_number].any? %>
      <div class="error-message">
        <%= address_form.object.errors[:phone_number].join(", ") %>
      </div>
    <% end %>
  </div>
<% end %>