<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メニュー - Bagel Mallow</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <header>
    <h1>Mallow - メニュー</h1>
  </header>

  <main class="pat">
    <h2>Bagels</h2>
    <ul class="menu-list">
      <% @items.each do |item| %>
        <li class="menu-item">
          <%= image_tag item.image_url, alt: item.name, class: 'menu-image' %>
          <div class="item-details">
            <h3><%= item.name %></h3>
            <p><%= item.description %></p>
            <span class="price"><%= number_to_currency(item.price) %></span>

            <div class="quantity-controls">
              <button class="decrement" data-item-id="<%= item.id %>">-</button>
              <input type="number" value="0" min="0" data-item-id="<%= item.id %>" class="quantity-field">
              <button class="increment" data-item-id="<%= item.id %>">+</button>
            </div>
            <button class="add-to-cart" data-item-id="<%= item.id %>">カートに追加</button>
          </div>
        </li>
      <% end %>
    </ul>
  </main>

  <%= link_to '購入手続きへ進む', new_order_path, class: 'purchase-button' %>

   <!-- カートアイコンを追加 -->
  <div class="cart-icon">
    <%= link_to cart_path do %>
      <%= image_tag 'cart-icon.jpeg', alt: 'カートアイコン' %>
    <span>"カート"</span>
    <% end %>
  </div>
</body>
</html>