<% cart_items.each do |cart_item| %>
  <tr>
    <td><%= image_tag cart_item.item.image_url, alt: cart_item.item.name, class: 'cart-item-image' %></td>
    <td><%= cart_item.item.name %></td>
    <td><%= number_to_currency(cart_item.item.price) %></td>
    <!-- quantity が存在しない場合は0を表示 -->
    <td><%= cart_item.quantity.present? ? cart_item.quantity : 0 %></td>
    <td><%= number_to_currency(cart_item.total_price) %></td>
    <td><%= link_to '削除', cart_item_path(cart_item), method: :delete, class: 'remove-item' %></td>
  </tr>
<% end %>