<%= form_with url: cart_items_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :item_id, "商品" %>
    <%= form.collection_select :item_id, Item.all, :id, :name, include_blank: true %>
  </div>
  <div class="form-group">
    <%= form.label :quantity, "数量" %>
    <%= form.number_field :quantity, min: 1, value: 1 %>
  </div>
  <%= form.submit "カートに追加", class: "btn btn-primary" %>
<% end %>
