<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理者 - Bagel Mallow</title>
  <%= stylesheet_link_tag 'admins', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
  <header>
    <h1><a href="/admin">Bagel Mallow 管理者ダッシュボード</a></h1>
    <nav>
      <ul>
        <li><a href="<%= admin_root_path %>">ダッシュボード</a></li>
        <li><a href="<%= admin_items_path %>">商品管理</a></li>
        <li><a href="<%= admin_orders_path %>">注文管理</a></li>
        <li><a href="<%= admin_contacts_path %>">お問い合わせ管理</a></li>
        <li><a href="<%= edit_admin_settings_path %>">サイト設定</a></li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>