<!DOCTYPE html>
<html>
<head>
  <title>管理者ページ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "admin", media: "all" %>  <!-- 管理者用CSS -->
  <%= javascript_include_tag "admin" %>            <!-- 管理者用JS -->
</head>
<body>
  <header>
    <h1>管理者ダッシュボード</h1>
    <nav>
      <%= link_to '商品管理', admin_items_path %>
      <%= link_to '注文管理', admin_orders_path %>
      <%= link_to 'お問い合わせ管理', admin_contacts_path %>
    </nav>
  </header>
  <%= yield %>
</body>
</html>