<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagel Mallow</title>
    <meta name="description" content="自家製酵母のパンとベーグルのお店">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <header>
        <div class="header-inner">
            <div class="site-logo">
                <a href="<%= root_path %>">
                    <%= image_tag '452494515_3752657141655243_3739932707639885848_n(1).jpg', alt: 'Bagel Mallow' %>
                </a>
            </div>
            <nav>
                <ul class="main-nav">
                    <li><a href="<%= root_path %>">トップ</a></li>
                    <li><a href="<%= orders_path %>">メニュー</a></li>
                    
                    <% if user_signed_in? %>
                        <li><%= link_to current_user.name, root_path, class: "user-name" %></li>
                        <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %></li>
                    <% else %>
                        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                    <% end %>
                    
                    <li><a href="<%= contact_path %>">お問い合わせ</a></li>
                    <li><%= link_to 'カート', cart_path, class: 'cart-link' %></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
        <div class="footer-inner">
            <div class="footer-copyright">
                ©2024 <a href="<%= root_path %>">Bagel Mallow</a>. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>