<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagel Mallow</title>
    <meta name="description" content="自家製酵母のパンとベーグルのお店">

    <!-- Google Fonts for Zen Maru Gothic -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://js.pay.jp/v2/pay.js" nonce="<%= content_security_policy_nonce %>">></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
    <header>
        <div class="header-inner">
            <div class="site-logo">
                <a href="<%= root_path %>">
                   <%= image_tag 'bagle.mallow.jpg', alt: 'Bagel Mallow' %>
                </a>
            </div>
            <nav>
                <ul class="main-nav">
                    <li><a href="<%= root_path %>">トップ</a></li>
                    <li><a href="<%= orders_path %>">メニュー</a></li>
                    <% if user_signed_in? %>
                        <li><%= link_to current_user.name, profile_path, class: "user-name" %></li>
                        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout", data: { confirm: 'ログアウトしますか？' } %></li>
                        <li><%= link_to 'カート', cart_path, class: 'cart-link' %></li>
                    <% else %>
                        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
        <div class="footer-inner">
            <div class="footer-copyright">
                ©2024 <a href="<%= root_path %>">Bagel Mallow</a>. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>